
@{
    ViewBag.Title = "Habitat";
}

<ul>
    @{
        for (int i = 0; i < ViewBag.Habitats.Count; i++)
        {
            <li><a href="/Habitat/Details/@ViewBag.Habitats[i].HabitatId">@ViewBag.Habitats[i].Name</a></li>
        }

    }

</ul>



