

@{ 
    ViewBag.Title = "Animal";

}


<ul>

    @{
        for (int i = 0; i < ViewBag.Animals.Count; i++)
        {
            <li><a href="/Animal/Details/@ViewBag.Animals[i].AnimalId">@ViewBag.Animals[i].Name</a></li>
        }
    
    }
    
</ul>

